html {
    margin-left: 400px;
    margin-right: 400px;
    background-color: #bbe7f8cb;
    text-align: center;
}

section.nav {
    background-color: white;
    align-content: center;
    padding-bottom: 30px;
    font-size: 20px;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.185);
}

body {
    margin: 0;
    padding: 50px;
    background-color: white;
}

u {
    text-decoration: none;
}

u.uname {
    font-weight: bold;
}

u.bio {
    color: gray;
}

img {
    padding: 10px;
}

div {
    background-color: white;
    padding: 40px;
}

a {
    text-decoration: none;
    padding: 15px;
}

a.follow {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
}

div.comment {
    text-align: left;
}

div.right {
    padding: 0px;
    text-align: right
}

div.profile {
    padding-bottom: 70px;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.185);
}